.repo-order-div{
    display: flex;
    align-items: center;
}

.repo-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.repo-details-div{
    display: flex;
}

.user-detail-div,
.repo-detail-div {
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
}

.bio-div {
    padding: 8px;
}

.user-detail-many-div,
.repo-detail-content-div {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    padding: 4px 8px 8px 8px;
}

.repo-detail-content-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}

.repo-detail-content-div>.name {
    font-size: 20px;
}

.user-detail-many-content-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.ornament-div {
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 8px;
    line-height: 1.4rem;
    background: rgba(0, 0, 0, .03);
}

.avatar-img-div {
    padding: 4px;
}

.avatar-img-div>img {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 122px;
    width: 122px;
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
}

.mail {
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
    line-height: 1.4;
}

.login {
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    line-height: 1.2;
}

.bio-div {
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
    background: rgba(0, 0, 0, .03);
    padding: 12px;
}

.about-text-div {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

.repo-list-item-div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.invalid-user {
    font-size: 16px;
    line-height: 1.2;
    padding: 24px;
    text-align: center;
    width: 100%;
}

.home-message-div {
    text-align: center;
}

.repo-lang-star {
    display: flex;
}

.label-with-count {
    display: flex;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 4px;
    font-size: 12px;
    align-items: center;
}

.label-prepend {
    display: flex;
    align-items: center;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    color: #24292e;
    font-weight: 600;
    padding: 3px 10px;
    border-right: 1px solid rgba(27, 31, 35, .2);
}

.count {
    padding: 3px 10px;
}

.language-badge {
    display: flex;
    align-items: center;
}